{% extends 'SCP/ws/base.html'%}

{% block content %}
{% load static %}

<div class="card">
    <h5 class="card-header">Show Appointment</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Services Name</th>
            <th>Customer Username</th>
            <th>Date</th>
            <th>Time</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
        {%if obj%}
        {% for type in obj1 %}
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{type.2.name}}</strong></td>
            <td>{{type.0.username}}</td>
            <td>
                {{ type.1.Date }}
            </td>
            <td>{{ type.1.Time }}</td>
            <td>
                ${{type.2.price}}
            </td>
          </tr>
          <tr>
            {% endfor %}
            {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}