{% extends 'SCP/ws/base.html'%}

{% block content %}
{% load static %}

<div class="card">
    <h5 class="card-header">Customers Orders</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Services Name</th>
            <th>Image</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
        {%if obj%}
        {% for type in obj %}
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{type.name}}</strong></td>
            <td class="product_thumb"><img src="{{obj1.image_field.url}}" alt=""></td>
            <td>
                ${{ type.price }}
            </td>
          </tr>
          <tr>
            {% endfor %}
            {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}